/* Add a red-colored Home button at the top left */
.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.home-link {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.home-link:hover {
  background-color: #cc0000;
}

/* Publications Section Styling */
.research-title {
  text-align: center;
  font-size: 28px;
  color: #333333;
  margin-top: 60px;
}

/* Table Styling */
.publications-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.publications-table th,
.publications-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.publications-table th {
  background-color: #0077b5;
  color: white;
  font-size: 16px;
}

.publications-table td {
  background-color: #ffffff;
  font-size: 14px;
}

.publications-table td a {
  color: #0077b5;
  text-decoration: none;
}

.publications-table td a:hover {
  color: #005582;
  background-color: #f4f4f9;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Hover effect on rows */
.publications-table tr:hover {
  background-color: #f5f5f5;
}

.publications-table td a:focus {
  text-decoration: underline;
}
.publications a, .research a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.publications img, .research img {
    vertical-align: middle;
    margin-right: 5px; 
}
.publications span, .research span {
    font-size: 0.9em; 
    vertical-align: middle;
}
.publications a:hover, .research a:hover {
    text-decoration: underline;
}
.orcid-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 3px solid #4CAF50;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

.orcid-button .orcid-logo {
    height: 24px;
    margin-right: 10px;
    transition: opacity 0.3s;
}

.orcid-button .orcid-id {
    display: inline-block;
    transition: opacity 0.3s;
}

.orcid-button:hover .orcid-logo,
.orcid-button:hover .orcid-id {
    opacity: 0.8;
}
.marquee-green-border {
    padding: 5px;
    border: 2px solid #4CAF50; /* Green border color */
    border-radius: 4px;
    background-color: #fff; /* White background for clarity */
    color: #333; /* Dark text color for readability */
    font-size: 0.9em;
}
.marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
    color: #333;
    font-size: 0.9em;
    white-space: nowrap;
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}